*.pyc
.venv/
.env
/repo/
__pycache__/
*.egg-info/
*.log
.coverage
build/
pytest-report.xml
dist/
.mypy_cache/
.pytest_cache/
.ruff_cache/

mosquitto/*
!mosquitto/config/
mosquitto/config/*
!mosquitto/config/mosquitto.conf